@use '../variables';

.navBar {
    padding: 0 20px;
    background-color: variables.$section-color;
    font-family: variables.$header-font;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBarLogo {
    height: 40px;
}

.navBarLink {
    text-decoration: none;
    color: variables.$header-color;
}

.navBarMenuList {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navBarMenuListItem {
    padding: 5px;
    margin-left: 10px;
}

.navBarMenuListItem:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.navBarHamburgerMenu {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

.navBarHamburgerBar1 {
    width: 35px;
    height: 3px;
    background-color: variables.$header-color;
    margin: 6px 0;
    transition: 0.4s;
}

.navBarHamburgerBar2 {
    composes: navBarHamburgerBar1;
}

.navBarHamburgerBar3 {
    composes: navBarHamburgerBar1;
}

.navBarHamburgerMenuList {
    list-style: none;
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 60px;
    left: 0;
    height: calc(100vh - 60px);
    width: 100%;
    background-color: variables.$section-color;
}

.navBarHamburgerMenuOpen .navBarHamburgerMenuList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.navBarHamburgerMenuOpen .navBarHamburgerBar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.navBarHamburgerMenuOpen .navBarHamburgerBar2 {
    opacity: 0;
}

.navBarHamburgerMenuOpen .navBarHamburgerBar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.navBarHamburgerMenuList .navBarMenuListItem {
    margin: 0 0 10px 0;
}

@media only screen and (max-width: 600px) {
    .navBarMenu {
        display: none;
    }

    .navBarHamburgerMenu {
        display: block;
    }
}
