@font-face {
  font-family: 'Frutiger';
  src:  url('./assets/Frutiger.woff2') format('woff2'),
        url('./assets/Frutiger.woff') format('woff');
}

@font-face {
  font-family: 'BankGothic';
  src:  url('./assets/BankGothic.woff2') format('woff2'),
        url('./assets/BankGothic.woff') format('woff');
}

/* COMMON */
body {
  font-family: 'Frutiger';
  font-weight: normal;
  font-style: normal;
  background-color: #dedede;
}

.text-label, h1, h2, h3, h4, h5, h6, th {
  font-family: 'BankGothic';
  font-weight: normal;
  font-style: normal;
  color: #5d130d
}

header {
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 10px;
}

table {
  table-layout: auto;
  border-spacing: 4px 2px;
  background-color: #cbcbcb;
  border-radius: 5px;
  padding: 2px;
}

th {
  text-align: left;
  white-space: nowrap;
}

td {
  vertical-align: top;
}

.display-none {
  display: none !important;
}

.text-label {
  text-align: center;
}

.text-value {
  background-color: white;
  border-radius: 2px;
  padding: 2px;
}

.text-value:empty {
  padding: 0;
}

.text-sm {
  font-size: smaller;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-numeric {
  text-align: right;
}

.text-positive {
  color: blue;
}

.text-negative {
  color: red;
}

.text-2d6 {
  background-color: #b09a90;
}

/* HOME */
.main-image {
  width: 100%;
}

/* GANG */
.gang-roster {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.gang-summary {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.gang-summary-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #cbcbcb;
  padding: 5px;
  border-radius: 5px;
}

.gang-roster-fighters {
  flex: 5;
}

.gang-roster-fighters table {
  width: 100%;
}

.gang-values {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.gang-values > div {
  flex: auto;
}

.gang-stash {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media only screen and (max-width: 600px) {
  .gang-roster {
    flex-direction: column;
  }

  .gang-roster-fighters {
    overflow-x: scroll;
  }
}

/* FIGHTERS */
.fighter-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.fighter-card {
  background-color: #cbcbcb;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: min-content;
}

.fighter-title {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.fighter-name {
  flex: 1;
}

.fighter-characteristics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
}

.fighter-weapons {
  display: grid;
  grid-template-columns: max-content 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
  gap: 5px;
}

.fighter-skills-and-wargear {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
}

@media only screen and (max-width: 1200px) {
  .fighter-cards {
    grid-template-columns: 1fr;
  }
}

/* PRINTING */
@media print {
  body {
    background-color: transparent;
  }

  header {
    display: none;
  }
}